@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 50px;
}

nav {
  background-color: #585858;
}

nav a {
  color: white;
  padding: 10px;
}

nav a:hover {
  background-color: grey;
  color: white;
  text-decoration: none;
}

nav li {
  list-style-type: none;
  padding: 15px;
}

.first {
  float: left;
}

.second {
  float: left;
}

.third {
  float: center;
}

@import "normalize";

@import "settings";

//Include all Foundation
@import "foundation";

// Or selectively include components
  // @import
  //   "foundation/components/accordion",
  //   "foundation/components/alert-boxes",
  //   "foundation/components/block-grid",
  //   "foundation/components/breadcrumbs",
  //   "foundation/components/button-groups",
  //   "foundation/components/buttons",
  //   "foundation/components/clearing",
  //   "foundation/components/dropdown",
  //   "foundation/components/dropdown-buttons",
  //   "foundation/components/flex-video",
  //   "foundation/components/forms",
  //   "foundation/components/grid",
  //   "foundation/components/inline-lists",
  //   "foundation/components/joyride",
  //   "foundation/components/keystrokes",
  //   "foundation/components/labels",
  //   "foundation/components/magellan",
  //   "foundation/components/orbit",
  //   "foundation/components/pagination",
  //   "foundation/components/panels",
  //   "foundation/components/pricing-tables",
  //   "foundation/components/progress-bars",
  //   "foundation/components/reveal",
  //   "foundation/components/side-nav",
  //   "foundation/components/split-buttons",
  //   "foundation/components/sub-nav",
  //   "foundation/components/switches",
  //   "foundation/components/tables",
  //   "foundation/components/tabs",
  //   "foundation/components/thumbs",
  //   "foundation/components/tooltips",
  //   "foundation/components/top-bar",
  //   "foundation/components/type",
  //   "foundation/components/offcanvas",
  //   "foundation/components/visibility";

  //include customer sass styles
  @import "_custom.scss";
